.nav-bar {
  position: fixed;
  background-color: grey;
  width: 100%;
}

#home {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

li {
  margin-right: 22px;
  margin-left: 22px;
  width: 140px;
  text-align: center;
  color: white;
  float: left;
}

.li:hover {
  background-color: white;
}

ul {
  padding: 20px;
  display: flex;
  list-style-type: none;
  align-content: flex-end;
}
